{% extends "core/base.html" %}

{% block content %}
    {% if validlink %}
        <p>Пожалуйста введите новый пароль.</p>
        {% comment %} {% if  form.new_password1.errors  %}
            <p>a{{ form.new_password1.errors }}</p>
        {% endif %}
        {% if form.new_password2.errors  %}
            <p>{{ form.new_password2.errors }}</p>
        {% endif %} {% endcomment %}
        
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit">Изменить мой пароль</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
    {% endif%}
{% endblock %}

